<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registration form</title>
</head>

<body>
                    <h2 class="title">Registration Form</h2>
                    <form method="POST">

                                <div class="input-group">
                                    <label class="label">full name</label>
                                    <input class="input--style-4" type="text" name="fname">
                                </div>
                            
                            
                                <div class="input-group">
                                    <label class="label">Organization name</label>
                                    <input class="input--style-4" type="text" name="oname">
                                </div>
                            
                        
                                <div class="input-group">
                                    <label class="label">Employee ID no.</label>
                                    <input class="input--style-4" type="text" name="emp_id">
                                </div>
                  
                                <div class="input-group">
                                    <label class="label">Mobile No.</label>
                                    <input class="input--style-4" type="text" name="mob">
                                </div>

                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="email" name="email">
                                </div>
                                
                                <div class="input-group">
                                	<label class="label">Upload Id card</label>
                                    <input type="file" name="fileupload" value="fileupload" id="fileupload"> 
                                </div>
                                <br>
     

                        	<button class="btn btn--radius-2 btn--blue" type="preview"><a href=" {% url 'preview' %}">Preview</a></button>
                            <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>

                    </form>

</body>

</html>